{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Hello{{ username }}</h1>
<a href="/logout">Logout</a>
<div class="form-container">
    <form action="/add_transaction" method="post">
        <label for="when">Date: </label>
        <input type="date" name="date">
        <label for="merchant">Merchant:</label>
        <input type="text" placeholder="merchant" name="merchant" autocomplete="off">
        <label for="amount">Amount ($USD): </label>
        <input type="number" name="date" placeholder="$$">
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}